<nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  <!-- <nav class="navbar d-flex">
    <a class="navbar-brand"
      routerLink="/">
      Home
    </a>
    <div class="d-flex justify-content-end">
      <ul class="d-flex navbar-nav flex-row align-items-center">
        <li class="nav-item">
          <a routerLink="/calc"
            routerLinkActive="active">Calc</a>
        </li>
      </ul>
    </div>
  </nav> -->
<div class="container app-container"> 
    <router-outlet></router-outlet>
</div>